<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" type="icon/png" href="{{ url_for('static', filename='images/noggin.png') }}">

    <!--- Bootstrap CSS --->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% block styles %}
    {% endblock %}

    <title>
        {% block title %}
        {% if title %}
        {{ title }} -
        {% else %}
        An Excellent Flask Tutorial
        {% endif %}
        {% endblock %}
    </title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('route_one.index') }}" style="font-size: 185%;">
            A Very Fun Flask Tutorial
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <li class="nav-item">
                <a class="navbar-link" href="{{ url_for('route_one.example_route') }}">Route No. 1</a>
            </li>
            <li class="nav-item">
                <a class="navbar-link" href="{{ url_for('route_two.another_good_example') }}">Route No. 2</a>
            </li>
        </div>
    </nav>

    <!-- Flashed messages-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class='alert alert-info' role='alert'>{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Custom content -->
    {% block content %}
    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- Custom scripts -->
    {% block scripts %}
    {% endblock %}
</body>

</html>